:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #1d4e1a;
  --primary-bg-color: #1d4e1a;
  --secondary-bg-color: #ffecb8;
  --white-bg-color: #fcf3d9;
  --main-svg-fill: #1d4e1a;
  --secondary-svg-fill: #ffecb8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-bg-color);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------Header styles-------------------*/
.header {
  background-color: var(--primary-bg-color);
  padding-bottom: 182px;
}
.header-slogan-wrap {
  display: flex;
  justify-content: center;
  padding: 6px 320px;
  text-align: center;

  background-color: var(--secondary-bg-color);
}
.header-slogan-wrap.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header-text {
  flex-grow: 2;
  margin-right: auto;
  line-height: 1.28;
  letter-spacing: 0.03em;
}
.header-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: transparent;
  border: none;
}
.header-close {
  fill: var(--main-svg-fill);
}
.header-nav {
  width: 470px;
  height: 62px;
  padding: 18px;
  border-radius: 32px;
  margin-left: auto;
  margin-right: auto;

  position: fixed;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background-color: var(--primary-bg-color);
}

.header-list {
  display: flex;

  justify-content: space-between;
}

.header-item {
  align-items: center;
  padding: 2px 8px 4px;
}
.header-item:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.header-link {
  color: var(--primary-link-color);
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  transition: color 250ms linear;
}

.header-link:hover,
.header-link:focus {
  color: rgb(255, 236, 184, 0.7);
}
.header-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
  transform: scale(1) translateY(0);
  transition: transform 250ms linear;
}
.header-item:nth-child(3):hover .header-logo,
.header-item:nth-child(3):focus .header-logo {
  transform: scale(1.15) translateY(-2px);
}
/*-------------------Hero styles-------------------*/
.hero {
  text-align: center;
  background-color: #1d4e1a;
}
.hero-title {
  margin-bottom: 32px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 96px;
  line-height: 1.12;
}
.hero-text {
  margin-bottom: 32px;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}

.hero-link {
  display: inline-block;
  padding: 10px 16px 12px 16px;
  text-align: center;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 26px;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  transition:
    color 250ms linear,
    background-color 250ms linear;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--secondary-text-color);
  background-color: transparent;
}
/*-------------------Ticker styles-------------------*/
.ticker {
  background-color: var(--secondary-bg-color);
}

.ticker-list {
  width: 1440px;
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin: auto;
}

.ticker-item {
  display: flex;
  gap: 12px;
}
.ticker-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.ticker-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-svg-fill);
}
/*-------------------Footer styles-------------------*/
.footer {
  padding-top: 80px;
  background-color: var(--primary-bg-color);
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footer-logo-thumb {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
  transform: scale(1) translateY(0);
  transition: transform 250ms linear;
}
.footer-logo:hover,
.footer-logo:focus {
  transform: scale(1.15) translateY(-2px);
}
.footer-contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-contact-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-svg-fill);
}
.footer-nav {
  display: flex;
  gap: 24px;
}
.footer-nav-main,
.footer-nav-categories,
.footer-nav-social {
  width: 214px;
}

.footer-title {
  margin-bottom: 28px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
  transition: color 250ms linear;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-link:hover,
footer-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.footer-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-list.social {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-item {
  margin-bottom: 6px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  transform: scale(1);
  transition:
    color 250ms linear,
    background-color 250ms linear,
    border 250ms linear,
    transform 250ms linear;
}
.footer-social:hover,
.footer-social:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  transform: scale(1.15);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transform: scale(1);
  transition:
    fill 250ms linear,
    transform 250ms linear;
}

.footer-social:focus .footer-icon,
.footer-social:hover .footer-icon {
  fill: currentColor;
  transform: scale(1.15);
}
.footer-img {
  margin-bottom: 32px;
}
.footer-licenses {
  display: flex;
  justify-content: space-between;
  padding: 12px 120px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-licenses ::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(252, 243, 217, 0.07);
  mix-blend-mode: multiply;
  pointer-events: none;
}
.footer-licenses-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-licenses-text:hover,
.footer-licenses-text:focus {
  color: rgb(255, 236, 184, 0.7);
}
