:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #1d4e1a;
  --primary-bg-color: #1d4e1a;
  --secondary-bg-color: #ffecb8;
  --white-bg-color: #fcf3d9;
  --main-svg-fill: #1d4e1a;
  --secondary-svg-fill: #ffecb8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-bg-color);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------Header styles-------------------*/
.header {
  background-color: var(--primary-bg-color);
  padding-bottom: 182px;
}
.header-slogan-wrap {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;

  background-color: var(--secondary-bg-color);
}
.header-nav {
  width: 470px;
  height: 62px;
  padding: 18px;
  border-radius: 32px;
  margin-left: auto;
  margin-right: auto;

  position: fixed;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background-color: var(--primary-bg-color);
}
.header-text {
  flex-grow: 2;
  margin-right: auto;
  line-height: 1.28;
  letter-spacing: 0.03em;
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.header-close {
  width: 8px;
  height: 8px;
  fill: var(--main-svg-fill);
}
.header-list {
  display: flex;

  justify-content: space-between;
}

.header-item {
  align-items: center;
  padding: 2px 8px 4px;
}
.header-item:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.header-link {
  color: var(--primary-link-color);
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.header-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
}
/*-------------------Hero styles-------------------*/
.hero {
  padding-top: 60px;
  padding-bottom: 104px;
  text-align: center;
  background-color: #1d4e1a;
}
.hero-title {
  margin-bottom: 12px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 96px;
  line-height: 1.12;
}
.hero-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}

/*-------------------Ticker styles-------------------*/
.ticker {
  background-color: var(--secondary-bg-color);
}

.ticker-list {
  width: 1440px;
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin: auto;
}

.ticker-item {
  display: flex;
  gap: 12px;
}
.ticker-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.ticker-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-svg-fill);
}
/*-------------Values styles-----------*/
.values {
  padding-top: 160px;
  text-align: center;
  background-color: #fcf3d9;
}
.values-icon-thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.values-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 56px;
  height: 56px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
}
.values-img {
  fill: var(--white-bg-color);
}

.values-title {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 640px;
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.values-nav {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.values-link {
  display: flex;
  padding: 10px 16px 12px 16px;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 51px;
  border-radius: 26px;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  color: var(--primary-link-color);
}

.values-link:hover,
.values-link:focus {
  color: var(--primary-bg-color);
  background-color: transparent;
}

.values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.values-item {
  flex-basis: 588px;
  border-radius: 24px;
  background-color: var(--primary-bg-color);
  overflow: hidden;
}
.values-item:not(:first-child, :last-child) {
  max-width: 282px;
}
.values-item:nth-child(odd) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.values-icon-right {
  position: absolute;
  top: 24px;
  right: 24px;
  fill: var(--secondary-svg-fill);
}
.values-icon-left {
  position: absolute;
  bottom: 24px;
  left: 24px;
  fill: var(--secondary-svg-fill);
}
.values-subtitle {
  margin-bottom: 2px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 56px;
  line-height: 1.16;
}
.values-description {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
/*-----------Philisophi styles----------*/
.philosophy {
  padding-top: 160px;
  text-align: center;
  background-color: #fcf3d9;
}
.philosophy-title {
  margin-bottom: 64px;

  font-family: 'Calistoga', sans-serif;
  font-size: 64px;
  line-height: 1.16;
}
.philosophy-list {
  margin-bottom: 24px;
  display: flex;
  gap: 24px;
}

.philosophy-item {
  padding: 32px 80px 36px;
  border-radius: 24px;
  background-color: rgba(29, 78, 26, 0.03);
}
.philosophy-icon {
  margin-bottom: 20px;
  fill: var(--main-svg-fill);
}
.philosophy-subtitle {
  margin-bottom: 8px;
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.philosophy-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.philosophy-banner {
  border-radius: 24px;
}
/*--------------About us styles--------------*/
.about {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #fcf3d9;
}
.about-wrap {
  display: flex;
  gap: 24px;
}
.text-wrap {
  max-width: 588px;
}

.about-title {
  margin-bottom: 12px;
  font-family: 'Calistoga', sans-serif;
  font-size: 64px;
  line-height: 1.16;
}
.about-text {
  margin-bottom: 80px;
  max-width: 440px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.about-subtitle {
  text-align: center;
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 242.5px;
  padding: 24px 41.25px;
}
.about-svg-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 32px;
  background-color: var(--primary-bg-color);
}
.about-icon {
  width: 32px;
  height: 32px;
  fill: var(--secondary-svg-fill);
}
.about-images {
  display: flex;
  gap: 24px;
}

.about-images-item {
  border-radius: 32px;
}

.column-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-images-poster {
  border-radius: 32px;
}

/*------------Banner styles------------*/
.banner {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: rgba(29, 78, 26, 0.03);
}
.banner-thumb {
  text-align: center;
  margin-bottom: 20px;
}
.banner-icon {
  width: 48px;
  height: 48px;
  fill: var(--main-svg-fill);
}
.banner-uber {
  width: 42px;
  height: 42px;
  fill: var(--secondary-svg-fill);
}
.banner-delivery {
  width: 32px;
  height: 32px;
  fill: var(--secondary-svg-fill);
}
.banner-subtitle {
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.banner-text {
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.banner-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.banner-img {
  display: inline-block;
}

.banner-link {
  display: inline-block;
  text-align: center;
  height: 72px;
  background-color: var(--primary-bg-color);
  padding: 20px;
  border-radius: 12px;
}
.banner-link.uber {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 28px 24px;
}
.banner-link:hover,
.banner-link:focus {
  background-color: rgba(29, 78, 26, 0.7);
}
/*-------------------Footer styles-------------------*/
.footer {
  padding-top: 80px;
  background-color: var(--primary-bg-color);
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footer-logo-thumb {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
}
.footer-contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-contact-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-svg-fill);
}
.footer-nav {
  display: flex;
  gap: 24px;
}
.footer-nav-main,
.footer-nav-categories,
.footer-nav-social {
  width: 214px;
}

.footer-title {
  margin-bottom: 28px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-link:hover,
footer-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.footer-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-list.social {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-item {
  margin-bottom: 6px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}
.footer-social:hover,
.footer-social:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-img {
  margin-bottom: 32px;
}
.footer-lisenses {
  display: flex;
  justify-content: space-between;
  padding: 12px 120px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-lisenses ::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(252, 243, 217, 0.07);
  mix-blend-mode: multiply;
  pointer-events: none;
}
.footer-lisenses-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
