:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #1d4e1a;
  --primary-bg-color: #1d4e1a;
  --secondary-bg-color: #ffecb8;
  --white-bg-color: #fcf3d9;
  --main-svg-fill: #1d4e1a;
  --secondary-svg-fill: #ffecb8;
  --mobile-menu-bg-color: #2d5a27;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
address {
  font-style: normal;
}
body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
  margin: 0;
}

.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
}
/*-------------------Header styles-------------------*/
.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  background-color: var(--primary-bg-color);
}
.header-nav {
  margin-right: auto;
}
.header-link-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.header-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
  transform: scale(1) translateY(0);
  transition: transform 250ms linear;
}
.header-link-logo:hover .header-logo,
.header-link-logo:focus .header-logo {
  transform: scale(1.15) translateY(-2px);
}
.slogan-wrap {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 6px 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-bg-color);
}
.slogan-wrap.is-hidden {
  background-color: var(--primary-bg-color);
}
.slogan-text.is-hidden,
.slogan-wrap.is-hidden .slogan-btn {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.slogan-text {
  width: 184px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
}
.slogan-btn {
  position: absolute;
  right: 5px;
  top: 14px;
  width: 20px;
  height: 20px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.slogan-close-icon {
  fill: var(--main-svg-fill);
}

@media screen and (min-width: 360px) {
  .header {
    width: 360px;
  }
  .container {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  .slogan-wrap {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .slogan-wrap {
    max-width: 768px;
  }
  .slogan-text {
    width: 700px;
  }
  .slogan-btn {
    right: 5px;
    top: 5px;
  }
  .header {
    position: relative;
    width: 768px;
    padding-top: 32px;
    padding-bottom: 62px;
  }
  .header-nav {
    position: fixed;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin-left: auto;
    width: 470px;
    height: 62px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;

    background-color: var(--primary-bg-color);
  }
  .header-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 2;
  }
  .header-item {
    align-items: center;
    padding: 2px 8px 4px;
  }

  .header-link {
    color: var(--primary-link-color);
    font-size: 16px;
    line-height: 1.24;
    letter-spacing: 0.02em;
    transition: color 250ms linear;
  }

  .header-link:hover,
  .header-link:focus {
    color: rgb(255, 236, 184, 0.7);
  }
  .header-item:nth-child(3):hover .header-logo,
  .header-item:nth-child(3):focus .header-logo {
    transform: scale(1.15) translateY(-2px);
  }
  .mobile-menu {
    display: none;
  }
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .header {
    width: 1440px;
  }
  .slogan-wrap {
    max-width: 1440px;
  }
}

@media screen and (max-width: 767px) {
  .container:has(.mobile-menu.is-open) .nav-wrap {
    background-color: var(--mobile-menu-bg-color);
  }
  .mobile-menu {
    position: absolute;
    z-index: 100;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 312px;
    padding: 18px 24px;
    border-radius: 24px;
    text-align: center;
    background-color: var(--mobile-menu-bg-color);
  }
  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    cursor: pointer;
  }

  .menu-button .icon-close-menu {
    display: none;
  }
  .menu-button.is-open .icon-close-menu {
    display: block;
  }
  .menu-button.is-open .icon-open-menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-open-icon {
    fill: var(--main-svg-fill);
  }

  .mobile-item {
    align-items: center;
    padding: 2px 0px 4px;
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
  .mobile-link {
    color: var(--primary-link-color);
    font-size: 16px;
    line-height: 1.24;
    letter-spacing: 0.03em;
    transition: color 250ms linear;
  }
  .mobile-link:hover,
  .mobile-link:focus {
    color: rgb(255, 236, 184, 0.7);
  }

  .header-list {
    display: none;
  }
  .nav-wrap {
    display: flex;
    padding: 12px;

    border-radius: 32px;
  }
}

/*-------------------Hero styles-------------------*/
.hero {
  padding-bottom: 104px;
  text-align: center;
  background-color: #1d4e1a;
}
.hero-title {
  margin-bottom: 12px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 96px;
  line-height: 1.12;
}
.hero-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}

/*-------------------Ticker styles-------------------*/
@keyframes ticker-move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.ticker {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px 0;
  gap: 24px;
  background-color: var(--secondary-bg-color);
  overflow: hidden;
  user-select: none;
}
.ticker-list {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 12px;
  min-width: 100%;
  animation: ticker-move 25s linear infinite;
}

.ticker:hover .ticker-list {
  animation-play-state: paused;
}

.ticker-item {
  display: flex;
  gap: 12px;
}
.ticker-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.ticker-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-svg-fill);
}

@media screen and (min-width: 768px) {
  .ticker {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .ticker {
    max-width: 1440px;
  }
}

/*-------------Values styles-----------*/
.values {
  padding-top: 160px;
  text-align: center;
  background-color: #fcf3d9;
}
.values-icon-thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.values-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 56px;
  height: 56px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
}
.values-img {
  fill: var(--white-bg-color);
  transform: scale(1) translateY(0);
  transition: transform 250ms linear;
}
.values-logo:hover .values-img,
.values-logo:focus .values-img {
  transform: scale(1.15) translateY(-6px);
}

.values-title {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 640px;
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.values-nav {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.values-link {
  display: flex;
  padding: 10px 16px 12px 16px;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 51px;
  border-radius: 26px;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  color: var(--primary-link-color);
  transition:
    color 250ms linear,
    background-color 250ms linear;
}

.values-link:hover,
.values-link:focus {
  color: var(--primary-bg-color);
  background-color: transparent;
}

.values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.values-item {
  flex-basis: 588px;
  border-radius: 24px;
  background-color: var(--primary-bg-color);
  overflow: hidden;
}
.values-item:not(:first-child, :last-child) {
  max-width: 282px;
}
.values-item:nth-child(odd) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.values-icon-right {
  position: absolute;
  top: 24px;
  right: 24px;
  fill: var(--secondary-svg-fill);
}
.values-icon-left {
  position: absolute;
  bottom: 24px;
  left: 24px;
  fill: var(--secondary-svg-fill);
}
.values-subtitle {
  margin-bottom: 2px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 56px;
  line-height: 1.16;
}
.values-description {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
/*-----------Philisophi styles----------*/
.philosophy {
  padding-top: 160px;
  text-align: center;
  background-color: #fcf3d9;
}
.philosophy-title {
  margin-bottom: 64px;

  font-family: 'Calistoga', sans-serif;
  font-size: 64px;
  line-height: 1.16;
}
.philosophy-list {
  margin-bottom: 24px;
  display: flex;
  gap: 24px;
}

.philosophy-item {
  padding: 32px 80px 36px;
  border-radius: 24px;
  background-color: rgba(29, 78, 26, 0.03);
}
.philosophy-icon {
  margin-bottom: 20px;
  fill: var(--main-svg-fill);
}
.philosophy-subtitle {
  margin-bottom: 8px;
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.philosophy-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.philosophy-banner {
  border-radius: 24px;
}
/*--------------About us styles--------------*/
.about {
  max-width: 360px;
  padding-top: 104px;
  padding-bottom: 104px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcf3d9;
}
.about-title {
  margin-bottom: 12px;
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.16;
}
.about-text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.about-subtitle {
  width: 170px;
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
  text-align: left;
}
.about-list {
  margin-bottom: 40px;
}
.about-item {
  padding: 24px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(29, 78, 26, 0.12);
  }
}
.about-svg-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 32px;
  background-color: var(--primary-bg-color);
}
.about-icon {
  width: 32px;
  height: 32px;
  fill: var(--secondary-svg-fill);
}

.about-images-item:first-child {
  margin-bottom: 16px;
}

.column-images-wrap:first-of-type {
  display: block;
  margin-bottom: 20px;
}

.about-images-poster {
  border-radius: 64px;
}

@media screen and (min-width: 768px) {
  .about {
    max-width: 768px;
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .about-title {
    font-size: 56px;
  }
  .about-text {
    margin-bottom: 64px;
    max-width: 440px;
  }
  .about-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
  .about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 242.5px;
    padding: 24px 41.25px;
  }
  .about-item:nth-child(2n + 1) {
    border-right: 1px solid rgba(29, 78, 26, 0.12);
  }

  .about-item:nth-child(3) {
    border-bottom: none;
  }
  .about-subtitle {
    text-align: center;
  }
  .about-images-list {
    display: flex;
    gap: 24px;
  }
  .about-images-item:first-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    max-width: 1440px;
  }

  .about-title {
    font-size: 64px;
  }
  .about-text {
    margin-bottom: 80px;
  }
  .about-wrap {
    display: flex;
    gap: 24px;
  }
  .text-wrap {
    max-width: 588px;
  }
}

/*------------Banner styles------------*/
.banner {
  max-width: 360px;
  padding-top: 104px;
  padding-bottom: 104px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 236, 184, 0.7);
  background-image: linear-gradient(rgba(29, 78, 26, 0.03), rgba(29, 78, 26, 0.03));
}
.banner-thumb {
  text-align: center;
  margin-bottom: 20px;
}
.banner-icon {
  width: 48px;
  height: 48px;
  fill: var(--main-svg-fill);
}
.banner-uber {
  width: 42px;
  height: 42px;
  fill: currentColor;
}
.banner-delivery {
  width: 32px;
  height: 32px;
  fill: currentColor;
}
.banner-title {
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Calistoga', sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.banner-text {
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.banner-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.banner-link {
  display: inline-block;
  text-align: center;
  height: 72px;
  background-color: var(--primary-bg-color);
  color: var(--secondary-svg-fill);
  padding: 20px;
  border-radius: 12px;
  border: none;
  transform: scale(1);
  transition: transform 250ms linear;
  cursor: pointer;
}
.banner-link.uber {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 28px 24px;
}
.banner-link:hover,
.banner-link:focus {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .banner {
    max-width: 768px;
    padding-top: 80px;
    padding-bottom: 96px;
  }
  .banner-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .banner {
    max-width: 1440px;
  }
}

/*-------------------Footer styles-------------------*/
footer {
  position: relative;
  max-width: 360px;
  padding-top: 48px;
  padding-bottom: 66px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-bg-color);
}
.footer-nav {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-nav-main,
.footer-nav-categories,
.footer-nav-social {
  display: flex;
  gap: 16px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  width: calc((100% - 16px) / 2);
}
.footer-item {
  padding-top: 2px;
  padding-bottom: 4px;
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}
.footer-item.follow {
  margin-bottom: 0;
}
.footer-list.social {
  display: flex;
  gap: 8px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  transform: scale(1);
  transition:
    color 250ms linear,
    background-color 250ms linear,
    border 250ms linear,
    transform 250ms linear;
}
.footer-social:hover,
.footer-social:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  transform: scale(1.15);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transform: scale(1);
  transition:
    fill 250ms linear,
    transform 250ms linear;
}

.footer-social:focus .footer-icon,
.footer-social:hover .footer-icon {
  fill: currentColor;
  transform: scale(1.15);
}
.footer-address {
  margin-bottom: 80px;
}
.footer-logo-wrapper {
  margin-bottom: 24px;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.footer-logo-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
  transform: scale(1) translateY(0);
  transition: transform 250ms linear;
}
.footer-logo:hover,
.footer-logo:focus {
  transform: scale(1.15) translateY(-2px);
}
.footer-title {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.footer-contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-contact-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-svg-fill);
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  transition: color 250ms linear;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-link:hover,
.footer-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.footer-licenses {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 243, 217, 0.07);
}
.footer-licenses-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-licenses-text:hover,
.footer-licenses-text:focus {
  color: rgb(255, 236, 184, 0.7);
}
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    padding-top: 64px;
  }
  .footer-nav {
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-nav-main,
  .footer-nav-categories,
  .footer-nav-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 48px) / 3);
  }
  .footer-address {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  .footer-logo-wrapper {
    margin-bottom: 0;
  }

  .footer-licenses {
    padding: 12px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
  }
  .footer-wrap {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 228px;
  }
  .footer-nav {
    margin-bottom: 0;
  }
  .footer-nav-main,
  .footer-nav-categories,
  .footer-nav-social {
    width: 214px;
  }
  .footer-logo-wrapper {
    margin-bottom: 0;
    display: block;
  }
  .footer-logo-link {
    margin-bottom: 20px;
  }
  .footer-title {
    margin-bottom: 28px;
  }
  .footer-address {
    margin-bottom: 0;
    display: block;
  }
  .footer-licenses {
    padding: 12px 120px;
  }
}
/*-------------------Modal styles-------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 78, 26, 0.5);
  z-index: 99999;
  transition:
    opacity 250ms linear,
    visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  z-index: 100000;
  top: 50%;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%) scale(1);
  max-width: 515px;
  min-height: 380px;
  background-color: var(--white-bg-color);
  border: 1px solid var(--primary-bg-color);
  border-radius: 12px;
  transition: transform 250ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 8px;
  padding: 4px;
  background-color: rgba(255, 236, 184, 0.7);
  border-radius: 50%;
  border: 1px solid rgba(29, 78, 26, 0.5);
  cursor: pointer;
}
.modal-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  text-align: center;
  margin-bottom: 12px;
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.16;
}
.modal-text {
  text-align: center;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.03em;
}
.modal-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-input {
  padding: 8px;
  margin-bottom: 8px;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  background: rgba(29, 78, 26, 0.5);
  color: rgba(255, 236, 184, 0.7);
  border: 1px solid var(--primary-bg-color);
  padding: 8px;
  border-radius: 9px;
}

.modal-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-menu {
  margin-bottom: 8px;
  padding: 8px;

  height: 80px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  outline: 0;
  background: rgba(29, 78, 26, 0.5);
  color: rgba(255, 236, 184, 0.7);
  border: 1px solid var(--primary-bg-color);
  border-radius: 9px;
}

.modal-textarea {
  padding: 8px;
  margin-bottom: 20px;
  height: 80px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  outline: 0;
  background: rgba(29, 78, 26, 0.5);
  color: rgba(255, 236, 184, 0.7);
  border: 1px solid var(--primary-bg-color);
  border-radius: 9px;
}
.modal-submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 12px;
  color: var(--primary-text-color);
  background-color: rgba(255, 236, 184, 0.7);
  border-radius: 6px;
  border: 1px solid rgba(29, 78, 26, 0.5);
  cursor: pointer;
}
::placeholder {
  color: rgba(255, 236, 184, 0.7);
}
