:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #1d4e1a;
  --primary-bg-color: #1d4e1a;
  --secondary-bg-color: #ffecb8;
  --white-bg-color: #fcf3d9;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------Header styles-------------------*/
.header {
  background-color: var(--white-bg-color);
  padding-bottom: 184px;
}
.header-slogan-wrap {
  position: relative;
  padding: 6px 320px;
  text-align: center;

  background-color: var(--secondary-bg-color);
}
.header-nav {
  width: 470px;
  height: 62px;
  padding: 18px;
  border-radius: 32px;
  margin-left: auto;
  margin-right: auto;

  position: fixed;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background-color: var(--primary-bg-color);
}
.header-text {
  line-height: 1.28;
  letter-spacing: 0.03em;
}
.header-btn {
  position: absolute;

  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  align-items: center;
  padding: 2px 8px 4px;
}
.header-item:nth-child(3) {
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.header-link {
  color: var(--primary-link-color);
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.header-logo {
}
/*-------------------Hero styles-------------------*/
.hero {
  padding-bottom: 160px;
  text-align: center;
  background-color: var(--white-bg-color);
}
.hero-title {
  margin-bottom: 12px;
  font-family: 'Calistoga', sans-serif;
  font-size: 96px;
  line-height: 1.12;
}
.hero-text {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 568px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.hero-version {
  font-family: 'Calistoga', sans-serif;
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}

.hero-list {
  margin-bottom: 80px;

  display: flex;
  justify-content: center;
  gap: 10px;
}
.hero-item {
}
.hero-link {
  display: inline-block;
  min-width: 123px;
  padding: 10px 16px 12px 16px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid transparent;
  color: var(--primary-link-color);
  background-color: var(--primary-bg-color);
}

.hero-link:hover,
.hero-link:focus {
  border: 1px solid var(--secondary-link-color);
  color: var(--primary-text-color);
  background-color: transparent;
}
.hero-build {
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  display: flex;
}
.hero-version {
  margin-right: auto;
}
.hero-update {
  max-width: 472px;
  text-align: left;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}

/*-------------------Ticker styles-------------------*/
.ticker {
  background-color: var(--secondary-bg-color);
}

.ticker-list {
  width: 1440px;
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin: auto;
}

.ticker-item {
  display: flex;
  gap: 12px;
}
.ticker-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
/*-------------------Footer styles-------------------*/
.footer {
  padding-top: 80px;
  background-color: var(--primary-bg-color);
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footer-logo {
  margin-bottom: 20px;
}

.footer-nav {
  display: flex;
  gap: 24px;
}
.footer-nav-main,
.footer-nav-categories,
.footer-nav-social {
  width: 214px;
}

.footer-title {
  margin-bottom: 28px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.footer-contact img {
  display: inline-block;
  margin-right: 8px;
}
.footer-link {
  padding: 4px 0;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}
.footer-link:first-child {
  margin-bottom: 2px;
}
.footer-link:hover,
footer-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.footer-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-list.social {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-item {
  margin-bottom: 6px;
}

.footer-icon {
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.footer-img {
  margin-bottom: 32px;
}
.footer-lisenses {
  display: flex;
  justify-content: space-between;
  padding: 12px 120px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-lisenses ::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(252, 243, 217, 0.07);
  mix-blend-mode: multiply;
  pointer-events: none;
}
.footer-lisenses-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
