:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #1d4e1a;
  --primary-bg-color: #1d4e1a;
  --secondary-bg-color: #ffecb8;
  --white-bg-color: #fcf3d9;
  --main-svg-fill: #1d4e1a;
  --secondary-svg-fill: #ffecb8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-bg-color);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------Header styles-------------------*/
.header {
  background-color: var(--primary-bg-color);
  padding-bottom: 182px;
}
.header-slogan-wrap {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;

  background-color: var(--secondary-bg-color);
}
.header-nav {
  width: 470px;
  height: 62px;
  padding: 18px;
  border-radius: 32px;
  margin-left: auto;
  margin-right: auto;

  position: fixed;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background-color: var(--primary-bg-color);
}
.header-text {
  flex-grow: 2;
  margin-right: auto;
  line-height: 1.28;
  letter-spacing: 0.03em;
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.header-close {
  width: 8px;
  height: 8px;
  fill: var(--main-svg-fill);
}
.header-list {
  display: flex;

  justify-content: space-between;
}

.header-item {
  align-items: center;
  padding: 2px 8px 4px;
}
.header-item:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.header-link {
  color: var(--primary-link-color);
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.header-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
}
/*-------------------Hero styles-------------------*/
.hero {
  background-color: #1d4e1a;
  text-align: center;
}
.hero-title {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 96px;
  line-height: 1.12;
  margin-bottom: 32px;
}
.hero-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.hero-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 80px;
}

.hero-link {
  display: inline-block;
  padding: 10px 16px 12px 16px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid var(--secondary-bg-color);
  color: var(--primary-link-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--primary-text-color);
  background-color: var(--primary-link-color);
}

/*-------------------Ticker styles-------------------*/
.ticker {
  background-color: var(--secondary-bg-color);
}

.ticker-list {
  width: 1440px;
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin: auto;
}

.ticker-item {
  display: flex;
  gap: 12px;
}
.ticker-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.ticker-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-svg-fill);
}
/*------------------Categories styles-----------------*/
.category {
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
  background-color: #fcf3d9;
}
.category-title {
  margin-bottom: 80px;
  font-family: 'Calistoga', sans-serif;
  font-size: 64px;
  line-height: 1.16;
}
.category-list {
  display: flex;
  justify-content: space-between;
}

.category-item {
  gap: 24px;
}
.category-img {
  background-color: #1d4e1a;
  border-radius: 50%;
  margin-bottom: 32px;
}
.category-subtitle {
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

/*--------------Popular products styles--------------*/
.popular {
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
  background-color: rgba(29, 78, 26, 0.03);
}
.popular-title {
  font-family: 'Calistoga', sans-serif;
  margin-bottom: 12px;

  font-size: 64px;
  line-height: 1.16;
}
.popular-text {
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.popular-list {
  display: flex;
  gap: 24px;
}
.new {
  position: relative;
}
.popular-wraper {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}
.popular-item {
  margin-bottom: 64px;
}
.popular-suptext {
  padding: 2px 8px 4px 8px;
  position: absolute;
  top: 16px;
  left: 16px;

  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  width: 40px;
  height: 24px;
  border: 1px solid rgba(29, 78, 26, 0.12);
  border-radius: 12px;
  background-color: var(--secondary-bg-color);
}

.popular-img {
  margin-bottom: 12px;
  border-radius: 24px;
  background-color: var(--primary-bg-color);
}
.popular-link {
  display: inline-block;
  padding: 10px 16px 12px 16px;
  text-align: center;

  border-radius: 26px;

  color: var(--primary-link-color);
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
}
.popular-link:hover,
.popular-link:focus {
  color: var(--primary-bg-color);
  background-color: transparent;
}
.popular-subtitle {
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.popular-price {
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
  color: rgba(29, 78, 26, 0.7);
}
/*--------------About us styles--------------*/
.about {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #fcf3d9;
}
.about-wrap {
  display: flex;
  gap: 24px;
}
.text-wrap {
  max-width: 588px;
}

.about-title {
  margin-bottom: 12px;
  font-family: 'Calistoga', sans-serif;
  font-size: 64px;
  line-height: 1.16;
}
.about-text {
  margin-bottom: 80px;
  max-width: 440px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.about-subtitle {
  text-align: center;
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 242.5px;
  padding: 24px 41.25px;
}
.about-svg-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 32px;
  background-color: var(--primary-bg-color);
}
.about-icon {
  width: 32px;
  height: 32px;
  fill: var(--secondary-svg-fill);
}
.about-images {
  display: flex;
  gap: 24px;
}

.about-images-item {
  border-radius: 32px;
}

.column-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-images-poster {
  border-radius: 32px;
}

/*---------------Testimonials styles---------------*/
.testimonials {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #fcf3d9;
}
.testimonials-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  font-family: 'Calistoga', sans-serif;
  max-width: 480px;
  font-size: 64px;
  line-height: 1.16;
}
.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 64px;
}
.testimonials-item {
  width: 384px;
}
.subwrap {
  position: relative;
  padding: 76px 24px 32px 24px;
  border: 1px solid rgba(29, 78, 26, 0.12);
  background-color: rgba(29, 78, 26, 0.03);
  border-radius: 24px;
}
.subwrap:not(:nth-child(2)) {
  margin-bottom: 24px;
}
.subwrap:nth-child(2) {
  margin-top: 24px;
}

.testimonials-img {
  border-radius: 24px;
}
.testimonials-icon {
  position: absolute;
  top: 32px;
  left: 24px;
  fill: var(--main-svg-fill);
}
.testimonials-subtitle {
  font-family: 'Calistoga', sans-serif;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}
.testimonials-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: rgba(29, 78, 26, 0.7);
}
.testimonials-link {
  display: block;
  padding: 10px 16px 12px 16px;
  margin: auto;
  text-align: center;
  max-width: 141px;

  border-radius: 26px;

  color: var(--primary-link-color);
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
}

.testimonials-link:hover,
.testimonials-link:focus {
  color: var(--secondary-link-color);
  background-color: transparent;
}
/*-------------Location styles-------------*/
.location {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: var(--primary-bg-color);
}

.location-title {
  margin-bottom: 12px;
  text-align: center;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 64px;
  line-height: 1.16;
}

.location-text {
  margin-bottom: 64px;
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.location-city {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: rgba(29, 78, 26, 0.7);
}
.location-time {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: rgba(29, 78, 26, 0.7);
}
.location-subtitle {
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.location-wrap {
  margin-bottom: 104px;
  display: flex;
  gap: 23px;
}

.location-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.location-item {
  padding: 24px;
  background-color: var(--white-bg-color);
  border-radius: 24px;
}
.location-address {
  margin-bottom: 6px;
  font-family: 'Calistoga', sans-serif;

  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}
.location-link {
  display: inline-block;
  padding: 10px 72px 12px 72px;
  text-align: center;
  border-radius: 26px;

  color: var(--primary-link-color);
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
}
.location-link:hover,
.location-link:focus {
  color: var(--primary-bg-color);
  background-color: transparent;
}
.help-list {
  display: flex;
  gap: 24px;
}
.help-item {
  border-radius: 20px;
  padding: 24px;
  width: 282px;
  height: 99px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}
.help-item::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background-color: rgba(252, 243, 217, 0.07);
  mix-blend-mode: multiply;
  pointer-events: none;
}

.help-text {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.help-link {
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

/*-------------News styles-------------*/
.news {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: var(--white-bg-color);
}
.news-wrap {
  display: flex;
  margin-bottom: 64px;
  align-items: flex-end;
  justify-content: space-between;
}

.news-title {
  flex-basis: 480px;

  font-family: 'Calistoga', sans-serif;
  font-size: 64px;
  line-height: 1.16;
}

.news-link {
  display: inline-block;
  padding: 10px 16px 12px 16px;
  text-align: center;
  min-width: 117px;
  border-radius: 26px;

  color: var(--primary-link-color);
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
}
.news-link:hover,
.news-link:focus {
  color: var(--primary-bg-color);
  background-color: transparent;
}
.news-list {
  display: flex;
  gap: 24px;
}
.news-item {
  flex-basis: 384px;
}

.news-img {
  border-radius: 24px;
  margin-bottom: 16px;
}
.news-text {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: rgba(29, 78, 26, 0.7);
}
.news-subtitle {
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
/*------------Banner styles------------*/
.banner {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: rgba(29, 78, 26, 0.03);
}
.banner-thumb {
  text-align: center;
  margin-bottom: 20px;
}
.banner-icon {
  width: 48px;
  height: 48px;
  fill: var(--main-svg-fill);
}
.banner-uber {
  width: 42px;
  height: 42px;
  fill: var(--secondary-svg-fill);
}
.banner-delivery {
  width: 32px;
  height: 32px;
  fill: var(--secondary-svg-fill);
}
.banner-subtitle {
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.banner-text {
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.banner-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.banner-img {
  display: inline-block;
}

.banner-link {
  display: inline-block;
  text-align: center;
  height: 72px;
  background-color: var(--primary-bg-color);
  padding: 20px;
  border-radius: 12px;
}
.banner-link.uber {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 28px 24px;
}
.banner-link:hover,
.banner-link:focus {
  color: var(--primary-bg-color);
  background-color: rgba(29, 78, 26, 0.7);
}
/*-------------------Footer styles-------------------*/
.footer {
  padding-top: 80px;
  background-color: var(--primary-bg-color);
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footer-logo-thumb {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
}
.footer-contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-contact-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-svg-fill);
}
.footer-nav {
  display: flex;
  gap: 24px;
}
.footer-nav-main,
.footer-nav-categories,
.footer-nav-social {
  width: 214px;
}

.footer-title {
  margin-bottom: 28px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-link:hover,
footer-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.footer-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-list.social {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-item {
  margin-bottom: 6px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}
.footer-social:hover,
.footer-social:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-img {
  margin-bottom: 32px;
}
.footer-lisenses {
  display: flex;
  justify-content: space-between;
  padding: 12px 120px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-lisenses ::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(252, 243, 217, 0.07);
  mix-blend-mode: multiply;
  pointer-events: none;
}
.footer-lisenses-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
