:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #1d4e1a;
  --primary-bg-color: #1d4e1a;
  --secondary-bg-color: #ffecb8;
  --white-bg-color: #fcf3d9;
  --main-svg-fill: #1d4e1a;
  --secondary-svg-fill: #ffecb8;
  --mobile-menu-bg-color: #2d5a27;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
address {
  font-style: normal;
}
body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
  margin: 0;
}

.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
}

/*-------------------Header styles-------------------*/

.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  background-color: var(--primary-bg-color);
}
.header-nav {
  margin-right: auto;
}
.header-link-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.header-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
  transform: scale(1) translateY(0);
  transition: transform 250ms linear;
}
.header-link-logo:hover .header-logo,
.header-link-logo:focus .header-logo {
  transform: scale(1.15) translateY(-2px);
}

@media screen and (min-width: 360px) {
  .header {
    width: 360px;
  }
  .container {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .header {
    position: relative;
    width: 768px;
    padding-top: 32px;
    padding-bottom: 62px;
  }
  .header-nav {
    position: fixed;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin-left: auto;
    width: 470px;
    height: 62px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;

    background-color: var(--primary-bg-color);
  }
  .header-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 2;
  }
  .header-item {
    align-items: center;
    padding: 2px 8px 4px;
  }

  .header-link {
    color: var(--primary-link-color);
    font-size: 16px;
    line-height: 1.24;
    letter-spacing: 0.02em;
    transition: color 250ms linear;
  }

  .header-link:hover,
  .header-link:focus {
    color: rgb(255, 236, 184, 0.7);
  }
  .header-item:nth-child(3):hover .header-logo,
  .header-item:nth-child(3):focus .header-logo {
    transform: scale(1.15) translateY(-2px);
  }
  .mobile-menu {
    display: none;
  }
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .header {
    width: 1440px;
  }
}

@media screen and (max-width: 767px) {
  .container:has(.mobile-menu.is-open) .nav-wrap {
    background-color: var(--mobile-menu-bg-color);
  }
  .mobile-menu {
    position: absolute;
    z-index: 100;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 312px;
    padding: 18px 24px;
    border-radius: 24px;
    text-align: center;
    background-color: var(--mobile-menu-bg-color);
  }
  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    cursor: pointer;
  }

  .menu-button .icon-close-menu {
    display: none;
  }
  .menu-button.is-open .icon-close-menu {
    display: block;
  }
  .menu-button.is-open .icon-open-menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-open-icon {
    fill: var(--main-svg-fill);
  }

  .mobile-item {
    align-items: center;
    padding: 2px 0px 4px;
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
  .mobile-link {
    color: var(--primary-link-color);
    font-size: 16px;
    line-height: 1.24;
    letter-spacing: 0.03em;
    transition: color 250ms linear;
  }
  .mobile-link:hover,
  .mobile-link:focus {
    color: rgb(255, 236, 184, 0.7);
  }

  .header-list {
    display: none;
  }
  .nav-wrap {
    display: flex;
    padding: 12px;

    border-radius: 32px;
  }
}
/*-------------------Hero styles-------------------*/
.hero {
  background-color: var(--white-bg-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 24px;
  font-family: 'Calistoga', sans-serif;
  font-size: 96px;
  line-height: 1.12;
}
.hero-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  max-width: 568px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}

.hero-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hero-link {
  display: inline-block;
  min-width: 123px;
  padding: 10px 16px 12px 16px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid transparent;
  color: var(--primary-link-color);
  background-color: var(--primary-bg-color);
  transition:
    border 250ms linear,
    color 250ms linear,
    background-color 250ms linear;
}

.hero-link:hover,
.hero-link:focus {
  border: 1px solid var(--secondary-link-color);
  color: var(--primary-text-color);
  background-color: transparent;
}
/*--------------------Info styles-----------*/
.info {
  padding-top: 80px;
  padding-bottom: 160px;
  background-color: var(--white-bg-color);
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.info-item {
  max-width: 468px;

  padding: 40px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(29, 78, 26, 0.03);
  border: 1px solid rgba(29, 78, 26, 0.12);
  border-radius: 24px;
  text-align: center;
}
.info-icon {
  margin-bottom: 24px;
  fill: var(--main-svg-fill);
}
.info-subtitle {
  margin-bottom: 8px;
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.info-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
/*-------------------Ticker styles-------------------*/
@keyframes ticker-move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.ticker {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px 0;
  gap: 24px;
  background-color: var(--secondary-bg-color);
  overflow: hidden;
  user-select: none;
}
.ticker-list {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 12px;
  min-width: 100%;
  animation: ticker-move 25s linear infinite;
}

.ticker:hover .ticker-list {
  animation-play-state: paused;
}

.ticker-item {
  display: flex;
  gap: 12px;
}
.ticker-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.ticker-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-svg-fill);
}

@media screen and (min-width: 768px) {
  .ticker {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .ticker {
    max-width: 1440px;
  }
}

/*-------------------Footer styles-------------------*/
footer {
  position: relative;
  max-width: 360px;
  padding-top: 48px;
  padding-bottom: 66px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-bg-color);
}
.footer-nav {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-nav-main,
.footer-nav-categories,
.footer-nav-social {
  display: flex;
  gap: 16px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  width: calc((100% - 16px) / 2);
}
.footer-item {
  padding-top: 2px;
  padding-bottom: 4px;
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}
.footer-item.follow {
  margin-bottom: 0;
}
.footer-list.social {
  display: flex;
  gap: 8px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  transform: scale(1);
  transition:
    color 250ms linear,
    background-color 250ms linear,
    border 250ms linear,
    transform 250ms linear;
}
.footer-social:hover,
.footer-social:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  transform: scale(1.15);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transform: scale(1);
  transition:
    fill 250ms linear,
    transform 250ms linear;
}

.footer-social:focus .footer-icon,
.footer-social:hover .footer-icon {
  fill: currentColor;
  transform: scale(1.15);
}
.footer-address {
  margin-bottom: 80px;
}
.footer-logo-wrapper {
  margin-bottom: 24px;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.footer-logo-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer-logo {
  width: 26px;
  height: 26px;
  fill: var(--main-svg-fill);
  transform: scale(1) translateY(0);
  transition: transform 250ms linear;
}
.footer-logo:hover,
.footer-logo:focus {
  transform: scale(1.15) translateY(-2px);
}
.footer-title {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.footer-contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-contact-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-svg-fill);
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  transition: color 250ms linear;
}
.footer-contact-item:first-child {
  margin-bottom: 2px;
}
.footer-link:hover,
.footer-link:focus {
  color: rgb(255, 236, 184, 0.7);
}

.footer-licenses {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 243, 217, 0.07);
}
.footer-licenses-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-licenses-text:hover,
.footer-licenses-text:focus {
  color: rgb(255, 236, 184, 0.7);
}
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    padding-top: 64px;
  }
  .footer-nav {
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-nav-main,
  .footer-nav-categories,
  .footer-nav-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 48px) / 3);
  }
  .footer-address {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  .footer-logo-wrapper {
    margin-bottom: 0;
  }

  .footer-licenses {
    padding: 12px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
  }
  .footer-wrap {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 228px;
  }
  .footer-nav {
    margin-bottom: 0;
  }
  .footer-nav-main,
  .footer-nav-categories,
  .footer-nav-social {
    width: 214px;
  }
  .footer-logo-wrapper {
    margin-bottom: 0;
    display: block;
  }
  .footer-logo-link {
    margin-bottom: 20px;
  }
  .footer-title {
    margin-bottom: 28px;
  }
  .footer-address {
    margin-bottom: 0;
    display: block;
  }
  .footer-licenses {
    padding: 12px 120px;
  }
}
