*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #ffecb8;
  --primary-bg-color: #1d4e1a;
  --secondary-bg-color: #ffecb8;
  --white-bg-color: #fcf3d9;
}

body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------Header styles-------------------*/
.header {
  background-color: var(--primary-bg-color);
}

.header-btn {
}
.header-list {
}
.header-item {
}
.header-link {
  color: var(--primary-link-color);
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: tomato;
}

.header-logo {
}
/*-------------Article styles-----------*/
.content {
  background-color: rgba(252, 243, 217, 0.12);
}
.content-img {
}
.content-btn {
  color: var(--primary-text-color);
}
.content-news {
}
.content-date {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: rgba(29, 78, 26, 0.7);
}

.content-title {
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.content-text {
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
}
.content-suptitle {
  font-family: 'Calistoga', sans-serif;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}
.content-description {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.content-subtitle {
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.content-list {
  display: flex;
  gap: 6px;
}

.content-item {
}
.content-hash {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
}
/*-------------News styles-------------*/
.news {
  background-color: rgba(252, 243, 217, 0.12);
}
.news-title {
  font-family: 'Calistoga', sans-serif;
  font-size: 64px;
  line-height: 1.16;
}

.news-link {
  display: inline-block;
  padding: 16px 10px 16px 12px;
  text-align: center;
  width: 117px;
  height: 42px;
  border-radius: 26px;
  color: var(--primary-link-color);
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
}
.news-link:hover,
.news-link:focus {
  color: black;
  background-color: red;
}
.news-list {
  display: flex;
  gap: 24px;
}
.news-item {
  width: 384px;
  height: 372px;
}
.news-img {
  border-radius: 24px;
}
.news-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: rgba(29, 78, 26, 0.7);
}
.news-subtitle {
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
/*-------------------Ticker styles-------------------*/
.ticker {
  background-color: var(--secondary-bg-color);
}

.ticker-list {
  display: flex;
}

.ticker-item {
  display: flex;
}
.ticker-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
/*-------------------Footer styles-------------------*/
.footer {
  background-color: var(--primary-bg-color);
}
.footer-logo {
}
.footer-title {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.footer-contact {
  display: flex;
  font-style: normal;
}
.footer-link {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}

.footer-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-list {
}

.footer-item {
}
.footer-social {
}
.footer-icon {
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.footer-img {
}
