*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #ffecb8;
  --primary-bg-color: #1d4e1a;
  --secondary-bg-color: #ffecb8;
  --white-bg-color: #fcf3d9;
}

body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------Header styles-------------------*/
.header {
  background-color: var(--primary-bg-color);
}

.header-text {
  background-color: var(--secondary-bg-color);
  line-height: 1.28;
  letter-spacing: 0.03em;
}
.header-btn {
}
.header-list {
}
.header-item {
}
.header-link {
  color: var(--primary-link-color);
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: tomato;
}

.header-logo {
}
/*-------------------------Product styles--------------*/

.product {
  background-color: var(--white-bg-color);
}
.product-img {
}
.product-title {
  font-family: 'Calistoga', sans-serif;

  font-size: 44px;
  line-height: 1.16;
}

.product-price {
  font-family: 'Calistoga', sans-serif;
  color: rgba(29, 78, 26, 0.7);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.product-description {
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
}
.product-variants {
  font-family: 'Calistoga', sans-serif;
  color: rgba(29, 78, 26, 0.7);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}
.product-list {
  display: flex;
  gap: 6px;
}

.product-item {
  border-radius: 6px;
  background-color: rgba(29, 78, 26, 0.03);
}
.product-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  color: rgba(29, 78, 26, 0.7);
}

.price-variant {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.product-attention {
  font-family: 'Calistoga', sans-serif;
  color: rgba(29, 78, 26, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.32;
  letter-spacing: 0.02em;
}

/*-------------------Popular styles------------------*/
.popular {
  background-color: var(--white-bg-color);
}
.popular-title {
  font-family: 'Calistoga', sans-serif;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.popular-link {
  display: inline-block;
  padding: 16px 10px 16px 12px;
  text-align: center;
  width: 117px;
  height: 42px;
  border-radius: 26px;

  color: var(--primary-link-color);
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
}

.popular-list {
  display: flex;
  gap: 24px;
}

.popular-item {
  border-radius: 24px;
}
.popular-suptext {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  width: 40px;
  height: 24px;
  border: 1px solid rgba(29, 78, 26, 0.12);
  border-radius: 12px;
  background-color: var(--secondary-bg-color);
}
.popular-card {
  color: var(--primary-text-color);
}
.popular-img {
}
.popular-name {
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}

.popular-price {
  font-family: 'Calistoga', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
  color: rgba(29, 78, 26, 0.7);
}
/*-------------------Ticker styles-------------------*/
.ticker {
  background-color: var(--secondary-bg-color);
}

.ticker-list {
  display: flex;
}

.ticker-item {
  display: flex;
}
.ticker-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
/*------------Banner styles------------*/
.banner {
  background-color: rgba(29, 78, 26, 0.03);
}
.banner-img {
}
.banner-subtitle {
  font-family: 'Calistoga', sans-serif;
  color: var(--primary-text-color);
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.banner-text {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.banner-list {
  display: flex;
}

.banner-item {
  background-color: var(--primary-bg-color);
  border-radius: 12px;
}
.banner-item:first-child {
  width: 137px;
  height: 72px;
}
.banner-item:nth-child(n + 2) {
  width: 72px;
  height: 72px;
}
.banner-link {
}
.banner-link:hover,
.banner-link:focus {
  color: black;
  background-color: red;
}
/*-------------------Footer styles-------------------*/
.footer {
  background-color: var(--primary-bg-color);
}
.footer-logo {
}
.footer-title {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.01em;
}
.footer-contact {
  display: flex;
  font-style: normal;
}
.footer-link {
  font-family: 'Calistoga', sans-serif;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: 0.02em;
}

.footer-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-list {
}

.footer-item {
}
.footer-social {
}
.footer-icon {
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
.footer-img {
}
