:root {
  --primary-text-color: #1d4e1a;
  --secondary-text-color: #ffecb8;
  --primary-link-color: #ffecb8;
  --secondary-link-color: #ffecb8;
  --primary-brand-color: #1d4e1a;
}

body {
  font-family: 'Cabin Condensed', sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------Header styles-------------------*/
.header {
  background-color: rgb(215, 220, 250);
}

.header-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.03em;
}
.header-btn {
}
.header-list {
}
.header-item {
}
.header-link {
  color: var(--primary-link-color);
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
}

.header-logo {
}
/*-------------------Hero styles-------------------*/
.hero {
  background-color: #1d4e1a;
}
.hero-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.hero-title {
  color: var(--secondary-text-color);
  font-size: 96px;
  line-height: 1.12;
}
.hero-img {
  background-color: transparent;
}
.hero-list {
  display: flex;
}
.hero-item {
}
.hero-link {
  /* display: inline-block;
  padding: 16px 10px 16px 12px;
  text-align: center;
  width: 141px;
  height: 51px;
  border-radius: 26px;
  border: 1px solid var(--secondary-link-color); */
}

.hero-link.primary {
  color: var(--secondary-link-color);
  background-color: var(--primary-brand-color);
}
.hero-link.secondary {
  color: var(--primary-brand-color);
  background-color: var(--secondary-link-color);
}
.hero-link.primary:hover,
.hero-link.primary:focus {
  color: black;
  background-color: red;
}
/*-------------------Ticker styles-------------------*/
.ticker {
}
.ticker-title {
}
.ticker-list {
}
.list {
}
.ticker-item {
}
.ticker-text {
}
